{
  "swagger": "2.0",
  "info": {
    "title": "exchangerate",
    "version": "v1"
  },
  "host": "api.exchangeratesapi.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/latest": {
      "get": {
        "tags": ["latestRates"],
        "description": "latest exchange rates",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "title": "Response",
              "properties": {
                "rates": {
                  "type": "object",
                  "title": "Rates",
                  "properties": {
                    "CAD": {
                      "type": "number"
                    },
                    "HKD": {
                      "type": "number"
                    },
                    "ISK": {
                      "type": "number"
                    },
                    "PHP": {
                      "type": "number"
                    },
                    "DKK": {
                      "type": "number"
                    },
                    "HUF": {
                      "type": "number"
                    },
                    "CZK": {
                      "type": "number"
                    },
                    "AUD": {
                      "type": "number"
                    },
                    "RON": {
                      "type": "number"
                    },
                    "SEK": {
                      "type": "number"
                    },
                    "IDR": {
                      "type": "number"
                    },
                    "INR": {
                      "type": "number"
                    },
                    "BRL": {
                      "type": "number"
                    },
                    "RUB": {
                      "type": "number"
                    },
                    "HRK": {
                      "type": "number"
                    },
                    "JPY": {
                      "type": "number"
                    },
                    "THB": {
                      "type": "number"
                    },
                    "CHF": {
                      "type": "number"
                    },
                    "SGD": {
                      "type": "number"
                    },
                    "PLN": {
                      "type": "number"
                    },
                    "BGN": {
                      "type": "number"
                    },
                    "TRY": {
                      "type": "number"
                    },
                    "CNY": {
                      "type": "number"
                    },
                    "NOK": {
                      "type": "number"
                    },
                    "NZD": {
                      "type": "number"
                    },
                    "ZAR": {
                      "type": "number"
                    },
                    "USD": {
                      "type": "number"
                    },
                    "MXN": {
                      "type": "number"
                    },
                    "ILS": {
                      "type": "number"
                    },
                    "GBP": {
                      "type": "number"
                    },
                    "KRW": {
                      "type": "number"
                    },
                    "MYR": {
                      "type": "number"
                    }
                  }
                },
                "base": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                }
              },
              "required": [
                "rates",
                "base",
                "date"
              ]
            }
          }
        }
      }
    }
  }
}
